<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
	<title>唱响春天</title>
	<link rel="shortcut icon" href="${rc.contextPath}${gzxant.photo}">
	<link href="bootstrap.min.css?v=3.3.6" rel="stylesheet">
	<script src="jquery.min.js?v=2.1.4"></script>
	<script src="bootstrap.min.js?v=3.3.6"></script>
	<script src="plugins/layer/layer.min.js"></script>
	<script src="util/validate-util.js"></script>

	<style type="text/css">
		html, body {
			margin: 0;
			padding: 0;
			height: 100%;
		}
		p{
			font: 16px/26px Verdana,Tahoma,Helvetica,Arial,sans-serif;
		}
		.container{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.head,.main,.foot{
			width: 100%;
		}
		.head{
			height: 200rpx;
		}
		.main{
			height: auto;
		}
		.foot{
			height: 100rpx;
		}
		.img{
			max-width: 100%;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="head">
			<h3>后来的我们：过了这么多年，你还好吗？</h3>
		</div>
		<div class="main">
			<p>
				<span>“都说人这一辈子，最怕忽然听懂一首歌。不是听懂了歌里的世界，而是突然看懂了自己的曾经。”</span>
			</p>
			<p>
				<img class="img" src="http://d.ifengimg.com/w600/p0.ifengimg.com/pmop/2018/0428/EC3B177981C38D2B12B328D0A1DEDE37898D0B40_size70_w1080_h696.jpeg" style="margin: 28px auto 0px;">
			</p>
		</div>
		<div class="foot">
			<p>bey</p>
		</div>
	</div>
</body>

</html>